<p>Please select a date:</p>
<div class="calendar-container">
  <a id="prev-button" class="previous">&laquo; Prev</a>
  <a id="next-button" class="next">Next &raquo;</a>
  <div id="calendar"></div>
</div>
