<div id="show-cal" class="calendar calendar--hide">
  <div class="calendar__nav">
    <svg id="prev-button" class="calendar__nav__button" height="25" viewBox="0 0 24 24" width="25" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
    <span id="cal-month" class="calendar__nav__month"></span>
    <svg id="next-button" class="calendar__nav__button" height="25" viewBox="0 0 24 24" width="25" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </div>

  <span class="calendar__instructions">Please select a date.</span>

  <div id="calendar"></div>
</div>
