<div id="show-cal" class="calendar-container hide">
  <p class="text-muted">Please select a date:</p>
  <a id="prev-button" class="previous"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a id="next-button" class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  <div id="calendar"></div>
</div>
