<div id="show-cal" class="calendar-container hide">
  <p class="text-muted">Please select a date:</p>
  <a id="prev-button" class="previous">&laquo; Prev</a>
  <a id="next-button" class="next">Next &raquo;</a>
  <div id="calendar"></div>
</div>
