<div id="show-cal" class="cal-wrap hide-cal">
  <div class="cal-nav">
    <i id="prev-button" class="fa fa-arrow-circle-left cal-nav-button"></i>
    <span id="cal-month" class="cal-month"></span>
    <i id="next-button" class="fa fa-arrow-circle-right cal-nav-button"></i>
  </div>

  <span class="cal-instructions">Please select a date.</span>

  <div id="calendar"></div>
</div>
