<div id="show-cal" class="calendar calendar--hide">
  <div class="calendar__nav">
    <i id="prev-button" class="fa fa-arrow-left calendar__nav__button"></i>
    <span id="cal-month" class="calendar__nav__month"></span>
    <i id="next-button" class="fa fa-arrow-right calendar__nav__button"></i>
  </div>

  <span class="calendar__instructions">Please select a date.</span>

  <div id="calendar"></div>
</div>
