<div class="header">
  <a href="/add-event"><i class="fa fa-plus	plus" alt="add event"></i>
  <a href="/"><span class="naz-events">Nazareth Events</span></a>
  {{#if calendarButton}}
        <i id="calendarIcon" class="fa fa-calendar calendar"></i>
  {{/if}}
</div>
<nav class="languageNav">
  <button id="enLang" class="langBtn" type="button" name="english button">English</button>
  <button id="arLang" class="langBtn" type="button" name="arabic button">Arabic</button>
</nav>
