<div class="header">
  <a href="/"><h1 class="text-center naz-events">Nazareth Events</h1></a>
  <a href="/add-event" class="glyphicon glyphicon-plus"></a>
  {{#if calendarButton}}
    <div id="calendar-button" class="div-calendarBtn">
      <span class="glyphicon glyphicon-calendar calendar"></span>
    </div>
  {{/if}}
  <div class="chooseLang">
    <label><input id="enLang" type="radio" name="optradio">English</label>
    <label><input id="arLang" type="radio" name="optradio" checked>Arabic</label>
  </div>
</div>
