<div class="header">
  <div class="div-plusContainer">
    <a href="/add-event"><img src="./images/plus.png" class="plusIcon" alt="add event"> </a>
  </div>
  <a href="/"><span class="naz-events">Nazareth Events</span></a>
  {{#if calendarButton}}
      <div class="div-calContainer">
        <img src="./images/calendar.png" id="calendarIcon" class="calendar"/>
      </div>
  {{/if}}
</div>
<nav class="languageNav">
  <button id="enLang" class="engBtn" type="button" name="engBtn">English</button>
  <button id="arLang" class="arBtn" type="button" name="arBtn">Arabic</button>
</nav>
