<header class="header">
  {{#if calendarButton}}
    <i id="calendarIcon" class="fa fa-calendar header-icon"></i>
  {{/if}}
  {{#if back}}
    <a href="{{{back}}}"><i class="fa fa-arrow-left header-icon" aria-hidden="true"></i></a>
  {{/if}}

  <a href="/en" class="naz-events">Nazareth Events</a>
</header>
{{#if filterButtons}}
  <nav class="filter-nav" style="z-index: 1;">
    <button id="enLang" class="lang-btn en-lang {{#if english}}active-lang{{/if}}" type="button" name="english button">English</button>
    <button class="lang-btn" id="categoryButton" type="button filter" style="margin-right: 0.6rem;"><i class="fa fa-sliders fa-lg" style="margin-bottom: 0.2rem;"></i></button>
    <button id="arLang" class="lang-btn ar-lang {{#if arabic}}active-lang{{/if}}" type="button" name="arabic button">عربية</button>
  </nav>
  <div class="filter-nav categories-select-container hide" id="categorySelectContainer">
    {{#each categories}}
    <label>{{upperCase this}}
      <input type="checkbox" name="" value="{{this}}">
    </label>
    {{/each}}
  </div>
{{/if}}
