<div class="header">
    <h1 class="text-center naz-events">Nazareth Events</h1>

    <img class="calendarImg" id="calendar-button" src="/imges/calendar.png" alt="calendar" aria-hidden="true">
</div>
