<div class="header">
    <h1 class="text-center naz-events">Nazareth Events</h1>
    <div id="calendar-button" class="div-calendarBtn">
      <span class="glyphicon glyphicon-calendar calendar"></span>
    </div>
</div>
