<header class="header">
  <a href="/add-event" class="fa fa-plus plus-icon">
  <a href="/" class="naz-events">Nazareth Events</a>
  {{#if calendarButton}}
    <i id="calendarIcon" class="fa fa-calendar calendar-icon"></i>
  {{/if}}
</header>
<nav class="language-nav">
  <button id="enLang" class="lang-btn en-lang" type="button" name="english button">English</button>
  <button id="arLang" class="lang-btn ar-lang" type="button" name="arabic button">+ Arabic</button>
</nav>
