<header class="header">
  {{#if calendarButton}}
    <i id="calendarIcon" class="fa fa-calendar header-icon"></i>
  {{/if}}
  {{#if back}}
    <a href="{{{back}}}"><i class="fa fa-arrow-left header-icon" aria-hidden="true"></i></a>
  {{/if}}

  <a href="/en" class="naz-events">Nazareth Events</a>
  <a href="/add-event" class="fa fa-plus header-icon"></a>
</header>
{{#if filterButtons}}
  <nav class="language-nav">
    <button id="enLang" class="lang-btn en-lang {{#if english}}active-lang{{/if}}" type="button" name="english button">English</button>
    <button id="arLang" class="lang-btn ar-lang {{#if arabic}}active-lang{{/if}}" type="button" name="arabic button">عربية</button>
  </nav>
{{/if}}
