<div class="add-eventContainer">
  <h3 class="userAddEvent">{user name} please add event</h3>

  <form class="add-event-form" action="/add-event" method="post">
    <label>Title: </label>
    <input class="form-control" type="text" name="name" placeholder="title" required>

    <label>Picture: </label>
    <input class="form-control" type="file" name="imageUrl" accept="image/*" placeholder="choose picture">

    <label>Start Time: </label>
    <input class="form-control" type="text" name="startTime" placeholder="start time" required>

    <label>End Time: </label>
    <input class="form-control" type="text" name="endTime" placeholder="end time" required>

    <label>Location: </label>
    <input class="form-control" type="text" name="place" placeholder="place" required>

    <label class="sel1">Category: </label>
    <select class="options form-control" name="categories" required>
      <option disabled selected>Select your option..</option>
      <option value="music">Music</option>
      <option value="educational">Educational</option>
      <option value="theatrical">Theatrical</option>
      <option value="social Gathering">Social Gathering</option>
      <option value="cinema">Cinema</option>
      <option value="sport">Sport</option>
      <option value="cultural Event">Cultural</option>
      <option value="guesthouse">Guesthouse</option>
      <option value="store">Store</option>
      <option value="restaurant">Restaurant</option>
      <option value="historical site">Historical site</option>
      <option value="hangout Spots">Hangout Spots</option>
      <option value="miscellaneous">Miscellaneous</option>
      <option value="unspecified">Unspecified</option>
    </select>

    <label>Cost: </label>
    <input class="form-control" type="text" name="cost" placeholder="cost" required>

    <label>Accessibility: </label>
    <input class="form-control" type="text" name="accessibilityOptions" placeholder="accessibility" required>

    <label>Description: </label>
    <textarea class="form-control" rows="3" name="description" placeholder="description" required></textarea>

    <button type="submit" name="submitBtn" class="submitBtn text-center btn">Submit</button>
  </form>
</div>
