<h1>add event</h1>

<form class="add-event-form" action="/add-event" method="post">
  <label>Title: </label>
  <input class="form-control" type="text" name="title" value="" required>

  <label>Img: </label>
  <input class="form-control" type="img" name="img" value="">

  <label>Start Date: </label>
  <input class="form-control" type="text" name="start-date" value="" required>

  <label>End Date: </label>
  <input class="form-control" type="text" name="end-time" value="" required>

  <label>Location: </label>
  <input class="form-control" type="text" name="place" value="" required>

  <label class="sel1">Category: </label>
  <select class="options form-control" name="type" required>
    <option value="Sports">Music Event</option>
    <option value="Educational">Educational</option>
    <option value="Theatrical">Theatrical</option>
    <option value="Social Gathering">Social Gathering</option>
    <option value="Cinema">Cinema</option>
    <option value="Music Event">Sport</option>
    <option value="Cultural Event">Cultural Event</option>
    <option value="Guesthouse">Guesthouse</option>
    <option value="Store">Store</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Historical site">Historical site</option>
    <option value="Hangout Spots">Hangout Spots</option>
    <option value="Miscellaneous">Miscellaneous</option>
    <option value="Unspecified">Unspecified</option>
  </select>

  <label>Cost: </label>
  <input class="form-control" type="text" name="cost" value="" required>

  <label>Accessibility: </label>
  <input class="form-control" type="text" name="Accessibility" value="" required>

  <label>Description: </label>
  <textarea class="form-control" rows="3" required></textarea>

  <button type="submit" name="submitBtn" value="" class="submitBtn text-center btn-primary">Add</button>
</form>
