{{>header}}
  <form class="add-event-form">
    <label id="eventName">Name
      <input id="eventNameEn" type="text" name="name_english" placeholder="English">
      <input class="arabic-event-name" id="eventNameAr" type="text" name="name_arabic" placeholder="Arabic">
      <p class="msg-box-input"></p>
    </label>

    <label id="eventDescription">Description
      <textarea class="event-description" rows="2" name="description_en" placeholder="English"></textarea>
      <textarea class="event-description" rows="2" name="description_ar" placeholder="Arabic"></textarea>
      <p class="msg-box-description"></p>
    </label>

    <label>Cost
      <input type="number" name="cost" min="0" placeholder="Cost in shekels">
    </label>

    <label>Date
      <input type="date" name="startDate" placeholder="Example yyyy-mm-dd" required>
    </label>

    <label>Start Time
      <input type="time" name="startTime" placeholder="Example 00:00" required>
    </label>

    <label>End Time
      <input type="time" name="endTime" placeholder="Example 00:00" required>
    </label>

    <label>Image
      <input type="text" name="imageUrl" placeholder="Please submit a URL">
    </label>

    <label>Accessibility Options
      <div class="checkbox-wrap">
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Audio recordings">Audio Recordings
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Big fonts">Big Fonts
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Braille">Braille
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Carer">Carer
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Disabled parking">Disabled Parking
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Disabled toilets">Disabled Toilets
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Good lighting">Good Lighting
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Place for guide dog">Guide Dog
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Sign language">Sign Language
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="SMS messaging">SMS Messaging
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="accessibilityOptions"
            value="Wheelchair access">Wheelchair Access
          </input>
        </label>
      </div>
    </label>

    <label>Categories
      <div class="checkbox-wrap" id="categoriesBox">
        <label>
          <input
            type="checkbox"
            name="categories"
            value="competition">Competition
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="conference">Conference
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="culture">Culture
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="dining">Dining
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="educational">Educational
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="launch">Launch
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="miscellaneous">Miscellaneous
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="music">Music
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="party">Party
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="sport">Sport
          </input>
        </label>
        <label>
          <input
            type="checkbox"
            name="categories"
            value="wedding">Wedding
          </input>
        </label>
      </div>
      <p class="msg-box-categories error-msg"></p>
    </label>

    <div class="place-section">
      <div class="place-wrap">
        <label style="margin-bottom: 0rem;">Place </label>
        <div id="addPlaceIcon" class="fa fa-plus-circle fa-2x add-place-icon"></div>
      </div>
      <select id="selectAllPlaces" style="padding: 0px;" class="place-options" name="placeId">
        <option disabled selected></option>
        {{#each places}}
          <option class="placesList" value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>

      <div id="addPlaceContainer" class="hide add-place">
        <label id="placeName">Name
          <input type="text" name="place_name_en" placeholder="English">
          <input type="text" name="place_name_ar" placeholder="Arabic">
        </label>
      <p class="msg-box-place error-msg"></p>

      <label>Address
        <input type="test" name="placeAddress">
      </label>
      <label>Website / Facebook Link
        <input type="text" name="placeWebsite">
      </label>

      <label>Email
        <input type="text" name="placeEmail">
      </label>

      <label>Phone number
        <input type="text" name="placePhone">
      </label>
    </div>
  </div>

    <button type="submit" name="submitBtn" class="submit-event-button">Submit</button>
  </form>
