<div class="add-eventContainer">
  <h3 class="userAddEvent">add event</h3>

  <form class="add-event-form" action="/add-event" method="post">
    <label>Name: </label>
    <input class="form-control" type="text" name="name" placeholder="name" required>

    <label> Image URL: </label>
    <input class="form-control" type="text" name="imageUrl" placeholder="image URL link">

    <label>Start Date:</label>
    <input class="form-control" type="date" name="startDate" placeholder="example yyyy-mm-dd" required>

    <label>End Date:</label>
    <input class="form-control" type="date" name="endDate" placeholder="example yyyy-mm-dd" required>

    <label>Start Time: </label>
    <input class="form-control" type="text" name="startTime" placeholder="example 00:00" required>

    <label>End Time: </label>
    <input class="form-control" type="text" name="endTime" placeholder="example 00:00" required>

    <label>Location: </label>
    <li id="addPlaceIcon" class="glyphicon glyphicon-plus"></li>
    <span class="addPlaceSpan text-muted">add new location</span>

    <select id="selectAllPlaces" class="options form-control" name="placeId" required>
      <option disabled selected>Select location..</option>
      {{#each places}}
        <option class="placesList" value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>

    <div id="addPlaceContainer" class="add-place">
      <input class="form-control" type="text" name="place_imageUrl" placeholder="image - link to image of place">
      <select class="form-control" name="place_categories">
        <option disabled selected>Select place categories..</option>
        <option value="cafe">Cafe</option>
        <option value="education">Education</option>
        <option value="food and drink">Food and Drink</option>
        <option value="healthcare">Healthcare</option>
        <option value="municipal">Municipal</option>
        <option value="music venue">Music Venue</option>
        <option value="religious site">Religious Site</option>
        <option value="retail">Retail</option>
        <option value="sport">Sport</option>
      </select>
      <select multiple class="form-control" name="place_accessibilityOptions">
        <option disabled selected>Select accessibility..</option>
        <option value="Audio recordings">Audio Recordings</option>
        <option value="Braille">Braille</option>
        <option value="Big fonts">Big Fonts</option>
        <option value="Carer">Carer</option>
        <option value="Disabled parking">Disabled Parking</option>
        <option value="Disabled toilets">Disabled Toilets</option>
        <option value="Good lighting">Good Lighting</option>
        <option value="Place for guide dog">Place for Guide Dog</option>
        <option value="Sign language">Sign Language</option>
        <option value="SMS messaging">SMS Messaging</option>
        <option value="Wheelchair access">Wheelchair Access</option>
      </select>
      <input class="form-control" type="text" name="place_website" placeholder="website - link to place's website">
      <input class="form-control" type="number" name="place_phone" placeholder="number phone" >
      <input class="form-control" type="text" name="place_email" placeholder="email">
      <input class="form-control" type="text" name="place_name" placeholder="name of the place" >
      <input class="form-control" type="text" name="place_address" placeholder="address of the place" >
      <input class="form-control" type="text" name="place_openingHours" placeholder="opening hours from - to">
      <textarea class="form-control" rows="3" name="place_description" placeholder="write some description here .."></textarea>
    </div>

    <label class="sel1">Category: </label>
    <select class="options form-control" name="categories" required>
      <option disabled selected>Select option..</option>
      <option value="competition">Competition</option>
      <option value="conference">Conference</option>
      <option value="culture">Culture</option>
      <option value="dining">Dining</option>
      <option value="educational">Educational</option>
      <option value="launch">Launch</option>
      <option value="miscellaneous">Miscellaneous</option>
      <option value="music">Music</option>
      <option value="party">Party</option>
      <option value="sport">Sport</option>
      <option value="wedding">Wedding</option>
    </select>

    <label>Accessibility: </label>
    <select multiple class="accessibility form-control" name="accessibilityOptions" required>
      <option disabled selected>Select Accessibility..</option>
      <option value="Audio recordings">Audio Recordings</option>
      <option value="Big fonts">Big Fonts</option>
      <option value="Braille">Braille</option>
      <option value="Carer">Carer</option>
      <option value="Disabled parking">Disabled Parking</option>
      <option value="Disabled toilets">Disabled Toilets</option>
      <option value="Good lighting">Good Lighting</option>
      <option value="Place for guide dog">Place for Guide Dog</option>
      <option value="Sign language">Sign Language</option>
      <option value="SMS messaging">SMS Messaging</option>
      <option value="Wheelchair access">Wheelchair Access</option>
    </select>

    <label>Cost: </label>
    <input class="form-control" type="number" name="cost" min="0" placeholder="cost in shekels" required>

    <label>Description: </label>
    <textarea class="form-control" rows="3" name="description" placeholder="description" required></textarea>

    <button type="submit" name="submitBtn" class="submitBtn text-center btn">Submit</button>
  </form>
</div>
<script src="./js/add_place.js" type="text/javascript"></script>
