<div class="add-eventContainer">
  <h3 class="userAddEvent">Add Event</h3>

  <form class="add-event-form" action="/add-event" method="post">
    <label>Name </label>
    <input class="form-control" type="text" name="name_english" placeholder="English" required>
    <input class="form-control" type="text" name="name_arabic" placeholder="Arabic">

    <label>Description </label>
    <textarea class="form-control" rows="2" name="description_en" placeholder="English" required></textarea>
    <textarea class="form-control" rows="2" name="description_ar" placeholder="Arabic"></textarea>

    <label>Cost </label>
    <input class="form-control" type="number" name="cost" min="0" placeholder="cost in shekels" required>

    <label>Date</label>
    <input class="form-control" type="date" name="startDate" placeholder="example yyyy-mm-dd" required>

    <label>Start Time </label>
    <input class="" type="time" name="startTime" placeholder="Example 00:00" required>

    <label>End Time </label>
    <input class="" type="time" name="endTime" placeholder="Example 00:00" required>

    <label>Image </label>
    <input class="form-control" type="text" name="imageUrl" placeholder="Please submit a URL">

    <label>Accessibility Options </label>
    <select multiple class="accessibility form-control" name="accessibilityOptions" required>
      <option disabled selected>Select Accessibility..</option>
      <option value="Audio recordings">Audio Recordings</option>
      <option value="Big fonts">Big Fonts</option>
      <option value="Braille">Braille</option>
      <option value="Carer">Carer</option>
      <option value="Disabled parking">Disabled Parking</option>
      <option value="Disabled toilets">Disabled Toilets</option>
      <option value="Good lighting">Good Lighting</option>
      <option value="Place for guide dog">Place for Guide Dog</option>
      <option value="Sign language">Sign Language</option>
      <option value="SMS messaging">SMS Messaging</option>
      <option value="Wheelchair access">Wheelchair Access</option>
    </select>

    <label class="sel1">Categories </label>
    <select multiple class="options form-control" name="categories" required>
      <option disabled selected>Select option..</option>
      <option value="competition">Competition</option>
      <option value="conference">Conference</option>
      <option value="culture">Culture</option>
      <option value="dining">Dining</option>
      <option value="educational">Educational</option>
      <option value="launch">Launch</option>
      <option value="miscellaneous">Miscellaneous</option>
      <option value="music">Music</option>
      <option value="party">Party</option>
      <option value="sport">Sport</option>
      <option value="wedding">Wedding</option>
    </select>

    <label>Place </label>
    <div id="addPlaceIcon" class="glyphicon glyphicon-plus"></div>

    <select id="selectAllPlaces" class="options form-control" name="placeId" required>
      <option disabled selected></option>
      {{#each places}}
        <option class="placesList" value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>

    <div id="addPlaceContainer" class="add-place">
    <label>Place name</label>
      <input class="form-control" type="text" name="place_name_en" placeholder="English">
      <input class="form-control" type="text" name="place_name_ar" placeholder="Arabic">
    </div>

    <button type="submit" name="submitBtn" class="submitBtn text-center btn">Submit</button>
  </form>
</div>
<script src="./js/add_place.js" type="text/javascript"></script>
