<h1>list events</h1>

  <table class="events">
    <thead>
      <th><h2>Name</h2></th>
      <th><h2>Category</h2></th>
      <th><h2>Where</h2></th>
      <th><h2>information</h2></th>
    </thead>
    <tbody>
    {{#each events}}
      <tr>
        <td><h3>{{this.en.name}}</h3></td>
        <td><h3>{{this.categories}}</h3></td>
        <td><h3>{{this.placeId}}</h3></td>
        <td><h3>{{this.en.description}}</h3></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
