a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
.calendar:active {
  color: #008080;
}
.calendar {
  color: #F5F5F5;
}
.header {
  background-color:	#008080;
  padding: 3px;
  padding-bottom: 40px;
  box-shadow: 4px 3px 12px;
}
.naz-events{
  color: #F5F5F5;
  font-weight: bold;
  font-family: 'Quattrocento Sans', sans-serif;
}
.div-calendarBtn{
  margin-top: -39px;
  margin-right: 7px;
  direction: rtl;
}
span.glyphicon {
  font-size: 20px;
}
.previous, .next {
  margin-top: 45px;
}
.previous {
  position: absolute;
  top: 7.8em;
  left: 6%;
}
.next {
  position: absolute;
  top: 7.8em;
  right: 6%;
}
#calendar {
  width: 100%;
  /*position: absolute;*/
}

#calendar thead {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}
#calendar table {
  width: 100%;
  text-align: center;
}

#calendar td {
  height: 2.5em;
  vertical-align: middle;
  width: 14.285714%;
}

td.not-current-month {
  color: #ddd;
}

td.today {
  /* arbitrary af */
  color: #6495ED;
}
#show-cal p{
  text-align: center;
  margin-top: 0.8em;
  font-weight: bold;
}
.prevBtn-div{
  margin-top: -80px;
  margin-left: 10px;
}
.prevBtn{
  color: #F5F5F5;
}
.description {
  font-size: 25px;
}
.event-details {
  margin-top: 60px;
}
.event-details h4 {
  font-weight: bold;
}
.event-details h3 {
  font-family: "Times New Roman", Times, serif;
}
.eventName {
  font-family: "Times New Roman", Times, serif;
}
img {
  width: 100%;
}
.information {
  box-shadow: 1px 2px 8px ;
  padding: 3px;
}
.container-div {
  padding: 4px;
  box-shadow: 1px 2px 6px;
  border-radius: 3px;
}
.eventTime, .eventStartDate {
  font-size: 20px;
}
.shekelIcon {
  width: 17px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container-div:active{
      color: #008080;
    }
    label {
      margin-left: 6px;
      color: #FF7F50;
      font-family: "Times New Roman", Times, serif;
      margin-left: 5%;
    }
    input, textarea, select {
      margin-bottom: 10px;
      max-width: 92%;
      margin-left: 4%;
    }
    .userAddEvent {
      color: #000060;
      padding: 5px;
      margin-bottom: 15px;
      text-shadow: 2px 6px 10px;
      text-align: center;
      font-family: "Times New Roman", Times, serif;
    }
    .submitBtn {
      width: 120px;
      height: 40px;
      margin: 10px;
      margin-left: 34%;
      color: #000060;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
    }
    .submitBtn:active {
      padding-top: 10px;
      background-color: #000060;
      color: #FF7F50;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop : */
    .container-div:hover{
      color: #008080;
    }
    label {
      color: #FF7F50;
      font-family: 'Open Sans', sans-serif;
      margin-left: 33%;
    }
    input, textarea, select {
      margin-bottom: 15px;
      min-width: 25%;
      max-width: 35%;
      margin-left: 33%;
    }
    .userAddEvent {
      color: #005060;
      box-shadow: 2px 3px 6px;
      padding: 8px;
      margin-bottom: 30px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
    .submitBtn {
      width: 270px;
      height: 55px;
      margin: 15px;
      margin-left: 40%;
      color: #005060;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
    }
    .submitBtn:hover {
      padding-top: 12px;
      background-color: #005060;
      color: #FF7F50;
    }
}
.noEvents {
  color: #B22222;
  text-align: center;
  background: linear-gradient(to top, #B22222, white, white, white);
  margin-top: 100px;
  padding: 20px;
  text-shadow: 4px 3px 10px;
}
