/*** ELEMENT RESET ***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a:hover,
button:hover,
.cal-nav-button,
td {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*** GENERAL ***/

body {
  background-color: #fff;
}

.hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/*** ERROR ***/

.error {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.error__message {
  margin-top: 3rem;
  color: #585858;
  font: 1.2rem 'Lato', sans-serif;
  text-align: center;
}

/*** HEADER BAR ***/

.header__spacing {
  height: 4.5rem;
}

.header {
  background-color: #4a9dc6;
  height: 4.5rem;
  padding: 0 1.5rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.header__back {
  fill: #fff;
  margin-top: 0.43rem;
}

.header__title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: 0.8rem;
}

@media only screen and (max-device-width: 321px) {
  .header__title {
    font-size: 1.2rem;
    margin-left: 0;
  }
}

.header__title--no-options {
  margin-right: 3rem;
}

.header__icon {
  font-size: 1.9rem;
  width: 1.9rem;
  fill: #fff;
  cursor: pointer;
}

.header__options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__options__search {
  padding-top: 0.6rem;
  width: 1.5rem;
  display: block;
  cursor: pointer;
}

.header__options__language {
  padding-top: 0.4rem;
  width: 1.5rem;
  margin-right: 0.6rem;
  display: block;
  cursor: pointer;
}

.header__options__dialogue {
  top: 4.2rem;
  right: 4.2rem;
  position: absolute;
  background-color: #eee;
  display: block;
  padding: 0rem 0rem;
  color: #6c6c6c;
  font-family: 'Open Sans', sans-serif;
  font-size: 0rem;
  border-radius: 0.3rem;
  transition: all 0.15s ease-out;
  transform: translateY(-0.5rem);
}

.header__options input[type='checkbox']:checked ~ .header__options__dialogue {
  padding: 1rem 1.1rem;
  font-size: 1rem;
  transform: translateY(0rem);
}

.header__options__dialogue::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  transition: 0.1s border-width ease-out, 0.1s top ease-out;
  top: 0.3rem;
  z-index: 4;
  border-bottom: 0rem solid #eee;
  border-left: 0rem solid transparent;
  border-width: 0rem;
}

.header__options
  input[type='checkbox']:checked
  ~ .header__options__dialogue.header__options__dialogue::before {
  border-bottom: 1rem solid #eee;
  border-left: 1rem solid transparent;
  border-width: 1rem;
  top: -0.7rem;
}

.header__options__dialogue__link {
  color: #6c6c6c;
  display: block;
}

.header__options__dialogue__link--active {
  color: palevioletred;
}

.header__options__dialogue__link:first-child {
  padding-bottom: 0.5rem;
}

/*** FILTER EVENTS ***/

.search-bar {
  background: #f2f2f2;
  padding: 0.9rem 0.75rem 0.75rem 0.75rem;
  flex-grow: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar__top {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75rem;
  width: 100%;
  flex-grow: 1;
}

.search-bar__top__filter {
  display: flex;
  flex-grow: 1;
}

.search-bar__top__filter__input {
  width: 100%;
  padding: 0.6rem;
  padding-bottom: 0.3rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  outline-color: #4a9dc6;
  color: #595959;
}

.search-bar__top__category__toggle {
  border-radius: 0.3rem;
  background-color: white;
  flex-grow: 0;
  padding: 0.4rem 0.4rem 0.2rem 0.4rem;
  margin-left: 0.75rem;
}

.search-bar__category__name {
  padding: 0.12rem 0.4rem;
  background-color: #a2a2a2;
  border-radius: 0.25rem;
  margin-right: 0.3rem;
  font: 0.75rem 'Open Sans', sans-serif;
  color: white;
}

.search-bar input[type='checkbox']:checked ~ .search-bar__category__name {
  background-color: #4a9dc6;
  color: white;
}

/*** EVENTS LIST ***/

.event-results {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c6c6c;
  font-family: 'Open Sans';
  font-size: 0.9rem;
}

.event-results__string {
  text-align: center;
  padding: 1.3rem 1rem 0rem 1rem;
}

.event-results__string--pink {
  color: #ff447f;
}

.event-list {
  display: flex;
  flex-direction: column;
  padding: 0.9rem;
  padding-top: 0.3rem;
}

.event {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid #eee;
  display: flex;
  align-items: center;
}

.event:first-child {
  padding-top: 0.8rem;
}

.event:last-child {
  border-bottom: none;
}

.event__image {
  border-radius: 50%;
  background-color: #c3c3c3;
  border: 0.4rem solid #eee;
  margin-top: 0.35rem;
  margin-right: 0.85rem;
  width: 5.7rem;
  height: 5.7rem;
  flex: 0 0 5.8rem;
}

.event__details {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event__details__name {
  color: #4a9dc6;
  font: 1.15rem 'Open Sans', sans-serif;
  font-weight: 600;
}

.event__details__location {
  font: 0.92rem 'Open Sans', sans-serif;
  font-weight: 600;
  color: #595959;
  line-height: 1.5;
}

.event__details__time {
  line-height: 1.5;
  font: 0.92rem 'Open Sans', sans-serif;
  color: #595959;
}

.event__details__categories {
  padding-top: 0.35rem;
  display: flex;
  color: #6c6c6c;
}

.event__details__categories__category {
  padding: 0.15rem 0.5rem;
  background-color: #eee;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
  font: 0.8rem 'Open Sans', sans-serif;
}

.no-events {
  color: #585858;
  font: 1.3rem 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

/*** EVENT DETAILS ***/

.event-img {
  height: 18rem;
  background-size: cover;
  background-position: center;
}

.event-details {
  text-align: left;
  text-rendering: optimizeLegibility;
  position: relative;
}

.event-details__title--absolute {
  background-color: #eee;
  color: #eee;
  width: 100%;
  padding: 0.8rem 1.7rem 0.8rem 1.7rem;
  font: 1.1rem 'Open Sans', sans-serif;
}

.event-details__title {
  position: absolute;
  top: 0;
  background-color: #eee;
  width: 100%;
  padding: 0.8rem 1.7rem 0.8rem 1.7rem;
  color: #5c5c5c;
  font: 1.1rem 'Open Sans', sans-serif;
  z-index: 0;
}

.event-details__title--fixed {
  position: fixed;
  top: 4.5rem;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.05),
    0 0.35rem 0.45rem rgba(0, 0, 0, 0.13);
}

.event-details__facebook {
  display: flex;
}

.event-details__facebook__icon {
  margin-left: 1.7rem;
  fill: #d6d6d6;
  margin-right: -0.9rem;
  margin-top: 1.65rem;
}

.event-details__facebook__icon:hover {
  fill: #3b5998;
}

.event-details__date {
  padding: 0 1.7rem;
  color: #5c5c5c;
  margin-top: 1.5rem;
  font: 0.9rem 'Open Sans', sans-serif;
}

.event-details__place {
  padding: 0 1.7rem;
  color: #5c5c5c;
  font: 0.9rem 'Open Sans', sans-serif;
}

.event-details__description {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.event-details__description__text {
  padding: 0 1.7rem;
  font: 1.05rem 'Open Sans', sans-serif;
  color: #4f4f4f;
  line-height: 1.7;
}

.event-details__detail {
  display: flex;
  padding: 0.25rem 1.7rem;
  align-items: center;
  color: #4f4f4f;
}

.event-details__detail--last {
  padding-bottom: 0;
}

.event-details__detail__icon {
  fill: #ff447f;
  margin-right: 0.7rem;
}

.event-details__detail__text {
  font: 0.95rem 'Open Sans', sans-serif;
  color: #5c5c5c;
}

.event-details__detail__link {
  font: 0.95rem 'Open Sans', sans-serif;
  color: #ff447f;
  text-decoration: underline;
}

.event-details__accessibility {
  padding: 0.25rem 1.7rem 0.25rem 1.6rem;
  display: flex;
  align-items: flex-start;
}

.event-details__accessibility__icon {
  fill: #ff447f;
  margin-right: 0.8rem;
}

.event-details__accessibility__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.event-details__accessibility__list__item {
  font: 0.95rem 'Open Sans', sans-serif;
  color: #5c5c5c;
  line-height: 1.5;
}

.map {
  margin-top: 1rem;
  height: 17rem;
  background-color: lightgray;
  background-size: cover;
  background-position: center;
}

.event-details__top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  fill: #9a9a9a;
  background-color: #f5f5f5;
}

/*** CALENDAR ***/

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 4.5rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #6c6c6c;
  font: 1rem 'Open Sans', sans-serif;
  transition: 0.3s ease;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.3rem #eee solid;
}

.calendar--hide {
  transform: translateY(-100%);
}

.calendar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 18rem;
}

.calendar__nav__button {
  font-size: 1.2rem;
  width: 2.2rem;
  height: 2.2rem;
  border: solid #cfcfcf 0.15rem;
  border-radius: 50%;
  fill: #6c6c6c;
}

.calendar__nav__month {
  font: 1.5rem 'Lato', sans-serif;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .calendar__nav__month {
    font: 1.5rem 'Lato', sans-serif;
  }
}

.calendar__instructions {
  margin: 1.5rem 0 0.75rem 0;
  font-size: 1.1rem;
  color: #aaa;
}

th {
  font-family: 'Open Sans';
  width: 2.2rem;
  margin: 0.3rem;
  font-size: 1.5rem;
  font-weight: 300;
}

tr,
td {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__event-found {
  position: relative;
}

.calendar__event-found::after {
  content: '';
  width: 0.4rem;
  height: 0.4rem;
  background-color: palevioletred;
  position: absolute;
  left: 0.92rem;
  top: 2rem;
  border-radius: 50%;
}

.calendar__today {
  background-color: #eee;
}

td {
  font-family: 'Lato';
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.3rem;
  font-size: 1.2rem;
  color: #6c6c6c;
  border-radius: 100%;
}

.calendar__not-current-month {
  color: #9c9c9c;
}
