/*** ELEMENT RESET ***/

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a:hover, button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*** GENERAL ***/

body {
  background-color: #F2F2F2;
}

/*** HEADER BAR ***/

/*** EVENTS LIST ***/

/*** EVENT DETAILS ***/

/*** ADD EVENT FORM ***/

/*** CALENDAR ***/
